############### These lines are ignored by the loader due to having # at the start of the line
############### This config file is for those who want to add custom images to Sprite Creator 3
############### Blank lines are ignored as well
#Female Hair
22

#Male Hair
22

#Male Body
22

#Female Body
22

#Male Hairop
4

#Female Hairop
12

#Male Bangs
16

#Female Bangs
16

#Mantle
15

#Female Acce1
-o
10
-
10

#Male Acce1
10

#Acce2
23

#tail
-o
2
-
5

#ears
5

#Option
4

#Face
5

#Armor
2

