# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio BS
*.opensdf
*.sdf
*.tlog
*.log
*.pdb
*.idb
/ProjectMuse/x64/Debug
/ProjectMuse/ProjectMuse/x64/Debug
/ProjectMuse/ProjectMuse/ProjectMuse.vcxproj.user
/ProjectMuse/zExternal/zExternal.vcxproj.user
/ProjectMuse/ProjectMuse/Debug
/SpriteCreatorColorizer/Saved
/ProjectMuse/ProjectMuse/4dv2r5bd.41m
/ProjectMuse/ProjectMuse/4s2hcl4q.0d3
/ProjectMuse/ProjectMuse/55s5vukb.lyx
/ProjectMuse/ProjectMuse/5ok0m5pz.vur
/ProjectMuse/ProjectMuse/ecfigeha.2ow
/ProjectMuse/ProjectMuse/ivgla0bw.hlp
/ProjectMuse/ProjectMuse/lmnm2eus.klq
/ProjectMuse/ProjectMuse/mhllesjx.3ue
/ProjectMuse/ProjectMuse/qj3odnb2.5gd
/ProjectMuse/ProjectMuse/shgsmmga.r1x
/ProjectMuse/ProjectMuse/suh1amey.fqh
/ProjectMuse/ProjectMuse/tlihsgsl.glj
/ProjectMuse/ProjectMuse/x50dcruk.4yk
/ProjectMuse/ProjectMuse/yieymfgu.ilu
